<ul class="steps">
    <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape1'}) }}">
            <img src="/build/static/img/steps/1-question.svg" alt="Étape 1" width="100" height="100">
            <p>
                <span>1</span>
                Je m'informe sur la faisabilité de mon projet
            </p>
        </a>
    </li>
    <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape2'}) }}">
            <img src="/build/static/img/steps/2-clipboard.svg" alt="Étape 2" width="100" height="100">
            <p>
                <span>2</span>
                Je précise mon projet et ma commune d'habitation
            </p>
        </a>
    </li>
    <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape3'}) }}">
            <img src="/build/static/img/steps/3-form.svg" alt="Étape 3" width="100" height="100">
            <p>
                <span>3</span>
                Je complète le formulaire spécifique et dépose les pièces-jointes obligatoires
            </p>
        </a>
    </li>
    <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape4'}) }}">
            <img src="/build/static/img/steps/4-upload.svg" alt="Étape 4" width="100" height="100">
            <p>
                <span>4</span>
                Je valide le dépôt de mon dossier 100% en ligne
            </p>
        </a>
    </li>
    <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape5'}) }}">
            <img src="/build/static/img/steps/5-path.svg" alt="Étape 5" width="100" height="100">
            <p>
                <span>5</span>
                Je suis le traitement de ma demande
            </p>
        </a>
    </li>
    <li class="steps-item">
        <a href="{{ path('route_static_faq', {'_fragment': 'etape6'}) }}">
            <img src="/build/static/img/steps/6-download.svg" alt="Étape 6" width="100" height="100">
            <p>
                <span>6</span>
                Je récupère la décision à ma demande
            </p>
        </a>
    </li>
</ul>