{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

    <style>
        .steps-item {
            margin: 0 10px;
            max-width: 250px;
        }
    </style>

    <main>
        <section class="section-color">
            <a href="{{ path("route_qualify1", {ville_id: ville.id}) }}"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</a>
            <h4>Déclaration préalable de travaux (2/2)</h4>
            <h5>Typologie de travaux</h5>
            <p>
                Quel type de travaux souhaitez-vous réaliser ?
            </p>
            <ul class="steps">
                <li class="steps-item">
                    <p>
                        <a class="btn" href="{{ path("route_resultats", {ville_id: ville.id, projet:'extension'}) }}">Extension</a>
                    </p>
                </li>
                <li class="steps-item">
                    <p>
                        <a class="btn" href="{{ path("route_resultats", {ville_id: ville.id, projet:'surrelevation'}) }}">Modification d'aspect extérieur</a>
                    </p>
                </li>
                <li class="steps-item">
                    <p>
                        <a class="btn" href="{{ path("route_resultats", {ville_id: ville.id, projet:'changement-fenetres'}) }}">Annexe de moins de 20m2</a>
                    </p>
                </li>
                <li class="steps-item">
                    <p>
                        <a class="btn" href="{{ path("route_resultats", {ville_id: ville.id, projet:'cloture'}) }}">Clôture</a>
                    </p>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}
