{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}
<main>

    <section class="section-color">
        <a href="{{ path("route_qualify1") }}"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</a>
        <h4>Déclaration préalable de travaux</h4>
        <h5>Architecte des bâtiments de France</h5>

        <p>
            Vos travaux ont ils lieu dans une zone ABF ?
        </p>

        <ul class="steps">
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_qualify3", {ville_id: ville.id, abf:'oui'}) }}">Oui</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_qualify3", {ville_id: ville.id, abf:'non'}) }}">Non</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_qualify3", {ville_id: ville.id, abf:'nsp'}) }}">Je ne sais pas</a>
                </p>
            </li>
        </ul>

        <p>Vous pouvez trouver cette information:</p>
        <ul>
            <li>Dans les documents d'achat du bien</li>
            <li>Dans le <a href="{{ ville.urlPlu }}">PLU de votre ville</a></li>
        </ul>
    </section>

</main>
{% endblock %}
