{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<style>
    .steps-item {
        margin: 0 10px;
        max-width: 250px;
    }
    .projects-container{
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .project{
        width: 200px;
        height: 100px;
        background-color: #0081d5;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    .project a{
        display: inline-block;
        vertical-align: middle;
        color: white !important;
        /*font-weight: bold;*/
        text-decoration: none;
    }
</style>

<main>
    <section class="section-color questions-container">

        <a href="{{ path("route_qualify1", {ville_id: ville.id}) }}"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</a>
        <h4>Quel type de travaux souhaitez-vous réaliser ? (2/2)</h4>

            {% if ville.urlExtension is not null
            or ville.urlCloture is not null
            or ville.urlAnnexe is not null
            or ville.ModificationExterieur is not null
            %}
                <ul class="question-items">

                {% if true or ville.urlExtension is not null %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet:'extension'}) }}">
                        <li>Agrandissement</li>
                    </a>
                    <p>Exemples :</p>
                    <ul>
                        <li>extension horizontale</li>
                        <li>surrélévation (création de niveaux supplémentaires)</li>
                        <li>aménagement de combles</li>
                    </ul>
                    <a href="{{ path('route_static_infosTravaux', {typeTravaux: 'extension'}) }}">En savoir plus</a>
                {% endif %}

                {% if true or ville.urlModificationExterieur is not null %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet:'modification_exterieur'}) }}">
                        <li>Modification d'aspect extérieur</li>
                    </a>
                    <p>Exemples :</p>
                    <ul>
                        <li>changement de fenêtre</li>
                        <li>ravalement de façade</li>
                    </ul>
                {% endif %}

                {% if true or ville.urlAnnexe is not null %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet:'annexe'}) }}">
                        <li>Annexe de moins de 20m<sup>2</sup></li>
                    </a>
                    <p>Exemples :</p>
                    <ul>
                        <li>véranda</li>
                        <li>abri de jardin</li>
                        <li>piscine</li>
                    </ul>
                {% endif %}

                {% if true or ville.urlCloture is not null %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet:'cloture'}) }}">
                        <li>Clôture</li>
                    </a>
                {% endif %}

                <a href="{{ path("route_resultats", {ville_id: ville.id, projet:'division_fonciere'}) }}">
                    <li>Division foncière</li>
                </a>
                <a href="{{ path("route_resultats", {ville_id: ville.id, projet:'multitravaux'}) }}">
                    <li>Multi travaux</li>
                </a>

                </ul>

        {% else %}
            <p>Aucune démarche dématérialisée n'est possible actuellement. Contactez votre ville pour la mettre à jour !</p>
        {% endif %}
    </section>
</main>
{% endblock %}
