{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<style>
    .steps-item {
        margin: 0 10px;
        max-width: 250px;
    }
    .projects-container{
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
    }
    .project{
        width: 200px;
        height: 100px;
        background-color: #0081d5;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    .project a{
        display: inline-block;
        vertical-align: middle;
        color: white !important;
        /*font-weight: bold;*/
        text-decoration: none;
    }
</style>

<main>
    <section class="section-color questions-container">

        <a href="{{ path("route_qualify1", {ville_id: ville.id}) }}"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</a>
        <h4>Quel type de travaux souhaitez-vous réaliser ? (2/2)</h4>

            {% if ville.hasLinks() %}
                <ul class="question-items">

                {% if ville.hasRedirectionUrlByType(constant('App\\Domain\\Travaux::TYPE_AGRANDISSEMENT')) %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet: constant('App\\Domain\\Travaux::TYPE_AGRANDISSEMENT') }) }}">
                        <li>Agrandissement</li>
                    </a>
                    <ul>
                        <li>extension horizontale</li>
                        <li>surrélévation (création de niveaux supplémentaires)</li>
                        <li>aménagement de combles</li>
                    </ul>
                    {#<a href="{{ path('route_static_infosTravaux', {typeTravaux: constant('App\\Domain\\Travaux::TYPE_AGRANDISSEMENT')}) }}">En savoir plus</a>#}
                {% endif %}

                {% if ville.hasRedirectionUrlByType(constant('App\\Domain\\Travaux::TYPE_CHANGEMENT_EXTERIEUR')) %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet: constant('App\\Domain\\Travaux::TYPE_CHANGEMENT_EXTERIEUR')}) }}">
                        <li>Modification d'aspect extérieur</li>
                    </a>
                    <ul>
                        <li>changement de fenêtre</li>
                        <li>ravalement de façade</li>
                    </ul>
                    {#<a href="{{ path('route_static_infosTravaux', {typeTravaux: constant('App\\Domain\\Travaux::TYPE_CHANGEMENT_EXTERIEUR')}) }}">En savoir plus</a>#}
                {% endif %}

                {% if ville.hasRedirectionUrlByType(constant('App\\Domain\\Travaux::TYPE_ANNEXE')) %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet: constant('App\\Domain\\Travaux::TYPE_ANNEXE')}) }}">
                        <li>Annexe</li>
                    </a>
                    <ul>
                        <li>véranda</li>
                        <li>abri de jardin</li>
                        <li>piscine</li>
                    </ul>
                    {#<a href="{{ path('route_static_infosTravaux', {typeTravaux: constant('App\\Domain\\Travaux::TYPE_ANNEXE')}) }}">En savoir plus</a>#}
                {% endif %}

                {% if ville.hasRedirectionUrlByType(constant('App\\Domain\\Travaux::TYPE_CLOTURE')) %}
                    <a href="{{ path("route_resultats", {ville_id: ville.id, projet: constant('App\\Domain\\Travaux::TYPE_CLOTURE')}) }}">
                        <li>Clôture</li>
                    </a>
                    {#<a href="{{ path('route_static_infosTravaux', {typeTravaux: constant('App\\Domain\\Travaux::TYPE_CLOTURE')}) }}">En savoir plus</a>#}
                {% endif %}

                {% if ville.hasRedirectionUrlByType(constant('App\\Domain\\Travaux::TYPE_DIVISION')) %}
                <a href="{{ path("route_resultats", {ville_id: ville.id, projet: constant('App\\Domain\\Travaux::TYPE_DIVISION')}) }}">
                    <li>Division foncière</li>
                </a>
                {#<a href="{{ path('route_static_infosTravaux', {typeTravaux: constant('App\\Domain\\Travaux::TYPE_DIVISION')}) }}">En savoir plus</a>#}
                {% endif %}
                {% if ville.hasRedirectionUrlByType(constant('App\\Domain\\Travaux::TYPE_MULTI')) %}
                <a href="{{ path("route_resultats", {ville_id: ville.id, projet: constant('App\\Domain\\Travaux::TYPE_MULTI')}) }}">
                    <li>Multi travaux</li>
                </a>
                    {#<a href="{{ path('route_static_infosTravaux', {typeTravaux: constant('App\\Domain\\Travaux::TYPE_MULTI')}) }}">En savoir plus</a>#}
                {% endif %}
                </ul>

        {% else %}
            <p>Aucune démarche dématérialisée n'est possible actuellement. Contactez votre ville pour la mettre à jour !</p>
        {% endif %}
    </section>
</main>
{% endblock %}
