{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Votre demande préalable de travaux{% endblock %}

{% block content %}

<main>
    <section class="section-color">
        <a href="{{ path("route_qualify2", {ville_id: ville_id}) }}"><i class="fa fa-arrow-left"></i>&nbsp;Précédent</a>
        <h4>Déclaration préalable de travaux (3/3)</h4>
        <h5>Typologie de travaux</h5>
        <p>
            Quel type de travaux souhaitez-vous réaliser ?
        </p>
        <ul class="steps">
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_resultats", {ville_id: ville_id, abf:abf, projet:'terrassement'}) }}">Terrassement</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_resultats", {ville_id: ville_id, abf:abf, projet:'surrelevation'}) }}">Surrélévation</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_resultats", {ville_id: ville_id, abf:abf, projet:'nouvelle-construction'}) }}">Nouvelle construction</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_resultats", {ville_id: ville_id, abf:abf, projet:'travaux-changement-destination'}) }}">Travaux ou changement de destination sur une construction existante</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_resultats", {ville_id: ville_id, abf:abf, projet:'piscine'}) }}">Piscine</a>
                </p>
            </li>
            <li class="steps-item">
                <p>
                    <a href="{{ path("route_resultats", {ville_id: ville_id, abf:abf, projet:'cloture'}) }}">Clôture</a>
                </p>
            </li>
        </ul>
    </section>
</main>
{% endblock %}
