{% extends "base.html.twig" %}

{% block title %}Mes dossiers{% endblock title %}

{% block breadcrumb %}
<li class="is-active"><a href="{{ path("route_instructeur_dashboard") }}" aria-current="page">Mes dossiers</a></li>
{% endblock breadcrumb %}

{% block content %}
<h2 class="title is-2">Dossiers en attente de traitement</h2>

<div class="columns">
    <div class="column ">

        <table class="table">
          <thead>
              <tr>
                  <td>Numéro</td>
                  <td>Lieu</td>
                  <td>Nom</td>
                  <td>Date de dépot</td>
                  <td>Date de validation tacite</td>
                  <td>Status</td>
                  <td>Lien</td>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>42</td>
              <td>Saint-Malo</td>
              <td>Jean Michel COSTE</td>
              <td>10 déc. 2018</td>
              <td>10 fév. 2018</td>
              <td><span class="tag is-link is-normal">Analyse requise</span></td>
              <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            <tr>
              <td>67</td>
              <td>Bordeaux</td>
              <td>Clément CAMIN</td>
              <td>10 déc. 2018</td>
              <td>10 fév. 2018</td>
              <td><span class="tag is-link is-normal">Analyse requise</span></td>
              <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            <tr>
              <td>71</td>
              <td>Paris</td>
              <td>Vigier CLAIRE</td>
              <td>10 déc. 2018</td>
              <td>10 fév. 2018</td>
              <td><span class="tag is-link is-normal">Analyse requise</span></td>
              <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

          </tbody>
        </table>

    </div>
</div>

<h2 class="title is-2">Dossiers en attente de retours du demandeur</h2>

<div class="columns">
    <div class="column ">

        <table class="table">
            <thead>
            <tr>
                <td>Numéro</td>
                <td>Lieu</td>
                <td>Nom</td>
                <td>Date de dépot</td>
                <td>Date de validation tacite</td>
                <td>Status</td>
                <td>Lien</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>42</td>
                <td>Saint-Malo</td>
                <td>Jean Michel COSTE</td>
                <td>10 déc. 2018</td>
                <td>10 fév. 2018</td>
                <td><span class="tag is-link is-normal">Analyse requise</span></td>
                <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            <tr>
                <td>67</td>
                <td>Bordeaux</td>
                <td>Clément CAMIN</td>
                <td>10 déc. 2018</td>
                <td>10 fév. 2018</td>
                <td><span class="tag is-link is-normal">Analyse requise</span></td>
                <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            <tr>
                <td>71</td>
                <td>Paris</td>
                <td>Vigier CLAIRE</td>
                <td>10 déc. 2018</td>
                <td>10 fév. 2018</td>
                <td><span class="tag is-link is-normal">Analyse requise</span></td>
                <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<h2 class="title is-2">Dossiers terminés</h2>

<div class="columns">
    <div class="column ">

        <table class="table">
            <thead>
            <tr>
                <td>Numéro</td>
                <td>Lieu</td>
                <td>Nom</td>
                <td>Date de dépot</td>
                <td>Date de validation tacite</td>
                <td>Status</td>
                <td>Lien</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>42</td>
                <td>Saint-Malo</td>
                <td>Jean Michel COSTE</td>
                <td>10 déc. 2018</td>
                <td>10 fév. 2018</td>
                <td><span class="tag is-link is-normal">Analyse requise</span></td>
                <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            <tr>
                <td>67</td>
                <td>Bordeaux</td>
                <td>Clément CAMIN</td>
                <td>10 déc. 2018</td>
                <td>10 fév. 2018</td>
                <td><span class="tag is-link is-normal">Analyse requise</span></td>
                <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            <tr>
                <td>71</td>
                <td>Paris</td>
                <td>Vigier CLAIRE</td>
                <td>10 déc. 2018</td>
                <td>10 fév. 2018</td>
                <td><span class="tag is-link is-normal">Analyse requise</span></td>
                <td><a class="button is-primary is-small" href="{{ path("route_instructeur_voir_demande") }}">Voir</a></td>
            </tr>

            </tbody>
        </table>

    </div>
</div>
{% endblock content %}